<?xml version="1.0"?>
<psalm
    errorLevel="6"
    resolveFromConfigFile="true"
    findUnusedVariablesAndParams="true"
>
    <projectFiles>
        <directory name="src"/>
        <ignoreFiles>
            <directory name="vendor"/>
            <directory name="tests"/>
        </ignoreFiles>
    </projectFiles>
    <plugins>
        <!-- Add laravel psalm plugin later if desired -->
    </plugins>
</psalm>
